* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 75%;
}

.container {
    max-width: 960px;
    width: 100%;
}

body {
    background-color: rgb(173, 173, 173);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

main {
    margin: auto;
    background-color: rgb(163, 163, 163);
    padding: 1.6rem;
}

header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.img_title {
    height: 2.3rem;
    margin-right: 1rem;
    fill: #fff;
}

.adiciona_contato form {
    display: flex;
}

.adiciona_contato form button {
    height: 3rem;
    width: 15rem;
    background-color: rgb(35, 187, 81);
    border: none;
    border-radius: 0.2rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
}

.adiciona_contato form button:hover {
    background-color: rgb(40, 206, 90);
}

.adiciona_contato form input {
    border: none;
    padding: 0.5rem;
    border-bottom: 0.2rem solid black;
}

form input,
button {
    margin: 1rem 1rem 0 0;
}

table {
    width: 100%;
    margin-top: 1.6rem;
}

.tabela_contatos tr th,
td {
    padding: 0.8rem;
    text-align: center;
}

table th {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 0.2rem solid black;
}

table td {
    font-size: 1.2rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

table tfoot td {
    font-weight: bold;
    font-size: 1.3rem;
}